* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --alturaheader: 80px;
    --darkbg: #121212;
    --darktxt: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--alturaheader);
}

body {
    width: 100%;
    max-width: 100%;
}

header {
    width: 100%;
    /* background-color: palegreen; */
    display: flex;
    justify-content: center;
    height: var(--alturaheader);

    /* background-color: #000000; */
    /* color: #fff; */

    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #303030;
    background: var(--darkbg);
}

header > nav {
    width: 80%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* Logo Header */

label, .burger {
    display: none;
    color: var(--darktxt);
}



.menu-header {
    width: auto;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 40px; /* Ajustar conforme tamanho da fonte (2.5x)*/
    
    /* background-color: aqua; */
    list-style: none;
    color: var(--darktxt);
    background: var(--darkbg);
}

.nav-link {
    text-decoration: none;
    color: var(--darktxt);
    font-size: 16px;
}

.nav-link:hover {
    opacity: 0.5;
}

.social-links {
    display: flex;
    list-style: none;
    /* background-color: yellow; */
    gap: 25px;
}

.social-links > li > a > ion-icon {
    font-size: 18px;
    color: var(--darktxt);
}

/* MAIN */

main {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* background-color: pink; */
    margin-top: var(--alturaheader); /* Espaçamento do header fixo */
    
}

.whats-link {
    position: fixed;
    right: 50px;
    top: 630px;
}

.whats-img {
    width: 80px;
    opacity: 0.8;
}

.whats-img:hover {
    opacity: 1;
}

section {
    width: 100%;
    height: calc(100vh - var(--alturaheader));
}

.landing-page {
    background: var(--darkbg);
    color: var(--darktxt);
}

